.app-header-container {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 998;

  .app-header {
    height: 130px;
    min-height: 130px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;

    .header-link-left-container {
      background: $primary;
      height: 100%;
      width: 200px;
      position: absolute;
      top: 0;
      left: 0;
      clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 0%);
      display: flex;
      padding-left: 40px;
      transition: all 0.4s;
      cursor: pointer;

      .header-link {
        color:white;
        font-weight: bold;
        width: 100%;
        transform: rotate(-33deg);
        transition: all 0.2s;
        visibility: visible;
        opacity: 1;
      }

      &:hover {
        background: $secondary;

        .header-link {
          color: $primary;
        }
      }
    }

    .header-link-right-container {
      background: $primary;
      height: 100%;
      width: 200px;
      position: absolute;
      top: 0;
      right: 0;
      clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0% 0%);
      display: flex;
      padding-right: 50px;
      transition: all 0.3s;
      cursor: pointer;

      .change-title {
        font-family: $oswald;
        font-weight: bold;
      }

      .header-sign-up-container {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: auto;
        background: $secondary;

        .sign-up-container {
          height: auto;
          width: 100%;
          padding: 40px 20px;

          .sign-up-title {
            display: block;
            margin-bottom: 1.5rem;
            font-weight: bold;
            width: 100%;
            text-align: center;
            font-family: $oswald;
            pointer-events: none;
          }

          .sign-up-form {
            display: flex;
            flex-direction: column;
            width: 100%;

            .sign-up-input {
              height: 2.5rem;
              margin-bottom: 1rem;
              padding-left: 10px;
            }
          }

          .submit-button {
            background: $primary;
            border: 1px solid $primary;
            color: white;
            height: 2rem;
            width: 100%;
            margin-top: 2rem;
            cursor: pointer;
            font-family: $oswald;
          }

          .user-agreement-span {
            font-size: 10px;
            height: 1rem;
            text-align: center;
            width: 100%;
            display: block;
          }

          #signup-button {
            margin-top: 1rem;
          }
        }
      }

      .newsletter-title {
        font-family: $oswald;
        font-weight: bold;
        margin-top: 2.7rem;
      }

      .newsletter-button {
        margin-top: 0 !important;
      }

      .logout-button {
        margin-top: 6rem !important;
      }

      .header-log-in-container {
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
        position: absolute;
        top: 0;
        right: 0;
        height: auto;
        width: 50%;
        background: $secondary;

        .log-in-container {
          height: auto;
          width: 100%;
          padding: 40px 20px;

          .log-in-title {
            display: block;
            margin-bottom: 1.5rem;
            font-weight: bold;
            width: 100%;
            text-align: center;
            font-family: $oswald;
            pointer-events: none;
          }

          .log-in-close {
            height: 30px;
            width: 30px;
            position: absolute;
            top: 15px;
            right: 20px;
            cursor: pointer;
            border-radius: 100%;
            border: 3px solid $primary;
            transition: all 0.3s;
            padding: 10px;

            &:before {
              content: '';
              width: 80%;
              height: 3px;
              background: $primary;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%) rotate(45deg);
            }

            &:after {
              content: '';
              width: 80%;
              height: 3px;
              background: $primary;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%) rotate(-45deg);
            }

            &:hover {
              background: $primary;
              border-color: $secondary;

              &:before {
                background: $secondary;
              }

              &:after {
                background: $secondary;
              }
            }
          }

          .log-in-form {
            display: flex;
            flex-direction: column;
            width: 100%;

            .log-in-input {
              height: 2.5rem;
              margin-bottom: 1rem;
              padding-left: 10px;
            }
          }

          .submit-button {
            background: $primary;
            border: 1px solid $primary;
            color: white;
            height: 2rem;
            width: 100%;
            margin-top: 2rem;
            cursor: pointer;
            font-family: $oswald;
          }
        }
      }

      .header-link {
        width: 50px;
        height: 25px;
        border-bottom: 3px solid white;
        border-top: 3px solid white;
        transform: rotate(33deg);
        display: flex;
        justify-content: flex-end;
        transition: all 0.2s;
        visibility: visible;
        opacity: 1;
        position: absolute;
        top: 25%;
        right: 25%;

        &:after {
          content: '';
          width: 100%;
          height: 3px;
          background: $white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%);
          transition: all 0.2s;
        }
      }

      &:hover {
        background: $secondary;

        .header-link {
          border-color: $primary;

          &:after {
            background: $primary;
          }
        }
      }


    }

    .header-link-right-container-logout {
      background: $primary;
      height: 100%;
      width: 200px;
      position: absolute;
      top: 0;
      right: 0;
      clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0% 0%);
      display: flex;
      padding-right: 50px;
      transition: all 0.3s;
      cursor: pointer;

      .header-link {
        color: white;
        font-weight: bold;
        width: 100%;
        transform: rotate(33deg);
        display: flex;
        justify-content: flex-end;
        transition: all 0.2s;
        visibility: visible;
        opacity: 1;
      }

      &:hover {
        background: $secondary;

        .header-link {
          color: $primary;
        }
      }
    }

    .header-title-container {
      height: 100%;
      width: 100%;
      background: $primary;
      padding-left: 200px;
      padding-right: 200px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      //background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-section-image.jpg");
      //background-size: cover;
      //background-position: center center;
      //background-repeat: no-repeat;
      //background-color: rgba(255,255,255,0.7);
      border-bottom: 2px solid $secondary;

      .header-title {
        font-size: 82px;
        font-weight: bold;
        color: $white;
        margin-bottom: 0;
      }

      .header-section {
        background: $primary;
        color: white;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .hs-header {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          background: transparent;

          .hs-header-button {
            text-align: center;
            height: 3.5rem;
            width: 16rem;
            background: $primary;
            border: 1px solid $secondary;
            color: white;
            font-weight: bold;
            font-family: $oswald;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              background: $secondary;
              color: $primary;
              border-color: $primary;
            }
          }
        }
      }
    }

    .header-link-left-container-back {
      background: $primary;
      height: 100%;
      width: 200px;
      position: absolute;
      top: 0;
      left: 0;
      clip-path: polygon(100% 0%, 100% 0%, 0% 100%, 0% 0%);
      display: flex;
      padding-left: 40px;
      transition: all 0.4s;
      cursor: pointer;
      font-family: $oswald;

      .header-link {
        color:white;
        font-weight: bold;
        width: 100%;
        transform: rotate(-33deg);
        transition: all 0.2s;
        visibility: visible;
        opacity: 1;
      }

      &:hover {
        background: $secondary;

        .header-link {
          color: $primary;
        }
      }
    }
  }
}

.cookie {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgba(0,0,0,0.4);
  color: $white;
  padding: 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 80%;
  transform: translateX(-50%);
  font-size: 12px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 10000;

  .cookie-button {
    background: $primary;
    border: 1px solid $secondary;
    color: $white;
    cursor: pointer;
    margin-left: 20px;
  }

  .cookie-link {
    text-decoration: underline;
    cursor: pointer;

  }
}

.expand-right {
  background: transparent !important;
  height: 500px !important;
  width: 600px !important;
  padding: 40px!important;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%) !important;

}

