
.home {
  .section-1 {
    height: auto;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/hero-section-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.7);
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media only screen and (min-width: 1200px) {
      padding-top: 10%;
      padding-left: 8rem;
      padding-right: 8rem;
    }

    .logo-container {
      position: absolute;
      top: 100px;
      left: 50%;
      height: 18rem;
      width: 18rem;
      transform: translateX(-50%);

      @media only screen and (min-width: 1200px) {
      height: 30rem;
      width: 30rem;
      top: 0;
      }

      img {
        width: 100%;
        height: 100%;

        path {
          fill: white;
          background-color: white;
        }
      }
    }

    .s1-sub-title {
      color: white;
      font-weight: bold;
      margin-bottom: 13rem;
      text-align: center;
      margin-top: 18rem;
      font-size: 21px;

      @media only screen and (min-width: 1200px){
        font-size: 42px;
      }

    }

    .arrows-container {
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @media only screen and (min-width: 1200px){
        width: 50%;
        padding: 0;
      }

      .arrow-button {
        text-align: center;
        height: 3.5rem;
        background: $primary;
        border: 1px solid $secondary;
        color: $white;
        font-weight: bold;
        font-family: $oswald;
        cursor: pointer;
        transition: all 0.3s;
        width: 50%;
        margin: 20px;

        @media only screen and (min-width: 1200px){
          width: 16rem;
          margin: 0;
          margin-top: 2rem;
        }

        &:hover {
          background: $secondary;
          color: $primary;
          border-color: $primary;
        }
      }
    }

    #section-1-sample {
      background: $primary-transparent;

      &:hover {
        background: $secondary-transparent;
      }
    }
  }

  .section-2 {
    padding: 20px;
    background: $primary;
    color: white;

    @media only screen and (min-width: 1200px){
      padding: 6rem 12rem;
    }


    .s2-content-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .s2-title {
        text-align: center;
        margin-bottom: 1.5rem;
        font-size: 21px;

        @media only screen and (min-width: 1200px){
          font-size: 42px;
          margin-bottom: 3rem;
        }
      }

      .s2-text {
        text-align: center;
        max-width: 1140px;
        font-weight: bold;
      }
    }
  }

  .section-3 {
    padding: 20px;
    background: white;
    color: $primary;

    @media only screen and (min-width: 1200px){
      padding: 6rem 12rem;
    }

    .s3-content-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .s3-title {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 42px;
      }

      .s3-text {
        text-align: center;
        max-width: 1140px;
        font-weight: bold;
        margin: 0;
      }
    }
  }


  .section-4 {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-image: url('../images/horizontal-background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;


    .section-4-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .horizontal-sections-rounded {
        flex-shrink: 0;
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        background: transparent;
        transition: all 0.3s ease;
        height: auto;

        @media only screen and (min-width: 1200px) {
          width: 50%;
          height: 30rem;

          .rounded-break {
            display: none;
          }
        }

        .hs-border-container {
          border-radius: 100%;
          border: 10px solid $secondary;
          transition: all 0.3s ease;

          @media only screen and (min-width: 1200px) {
            border: 15px solid $secondary;
          }

          .hs-content-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgba(56, 0, 60, 0.6);;
            border-radius: 100%;
            width: 18rem;
            height: 18rem;
            transition: all 0.3s ease;

            @media only screen and (min-width: 1200px) {
              height: 25rem;
              width: 25rem;
            }

            .hs-title-container {
              position: relative;
              margin-bottom: 1.5rem;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all 0.3s ease;

              @media only screen and (min-width: 1200px) {
                margin-bottom: 2.5rem;
              }

              &:after {
                content: "";
                height: 2px;
                background: white;
                width: 6rem;
                position: absolute;
                bottom: -0.8rem;
                left: 50%;
                transform: translateX(-50%);
                transition: all 0.3s ease;

                @media only screen and (min-width: 1200px) {
                  bottom: -1.8rem;
                }
              }

              .hs-title {
                font-family: $oswald;
                font-weight: bold;
                margin: 0;
                font-size: 21px;
                transition: all 0.3s ease;
                color: white;
                text-transform: uppercase;

                @media only screen and (min-width: 1200px) {
                  font-size: 1.7rem;
                }
              }
            }

            .hs-text {
              color: white;
              text-align: center;
              transition: all 0.3s ease;
              font-size: 12px;

              @media only screen and (min-width: 1200px) {
                font-size: 1rem;
              }

              .rounded-break-text {
                display: none;

                @media only screen and (min-width: 1200px){
                  display: block;
                }
              }
            }
          }
        }
      }

      .rounded-hover:hover {
        padding: 15px;
        cursor: pointer;
        border: 15px solid $primary;

        .hs-content-container {
          background: transparent;
        }

        &:hover {
          .hs-content-container {
            background: rgba(255,255,255,0.6);

            .hs-title-container:after {
              background: $primary;
            }

            .hs-title {
              color: $primary;
            }

            .hs-text {
              color: $primary
            }

            .hs-text-under {
              background: $primary;
            }
          }
        }
      }
    }
  }

  .section-5 {
    padding: 20px;
    background: white;
    color: $primary;
    border-bottom: 3px solid $primary;

    @media only screen and (min-width: 1200px){
      padding: 6rem 12rem;
    }

    .s5-content-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: $oswald;

      .s5-text {
        text-align: center;
        max-width: 1140px;
        font-size: 21px;
        margin-bottom: 2rem;
      }

      .s5-button-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .s5-signup-button {
          width: 24rem;
          height: 6rem;
          background: $primary;
          color: $white;
          border: 5px solid $secondary;
          font-size: 21px;
          transition: all 0.3s;
          cursor: pointer;

          &:hover {
            background: $secondary;
            color: $primary;
            border-color: $primary;
          }
        }
      }
    }
  }

  .section-contact {
    padding: 6rem 12rem;
    background: white;
    color: $primary;
    position: relative;
    padding-bottom: 8rem;

    .sc-content-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .sc-title {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 42px;
      }

      .sc-text {
        text-align: center;
      }

      .sc-button {
        text-align: center;
        height: 3.5rem;
        width: 16rem;
        background: $primary;
        border: 1px solid $secondary;
        color: $white;
        font-weight: bold;
        font-family: $oswald;
        margin-top: 2rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background: $secondary;
          color: $primary;
          border-color: $primary;
        }
      }
    }

    .sc-form-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      opacity: 0;
      visibility: hidden;
      padding: 0 12rem;
      background: $primary;
      color: white;
      transition: all 0.5s;
      justify-content: center;
      align-items: center;

      .sc-form {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-left: 2rem;
        padding-right: 2rem;

        .sc-input-container {
          margin-bottom: 2rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .sc-form-text {
            width: 24rem;
            height: 2.5rem;
            margin-bottom: 1rem;
            padding: 10px 5px;
          }
        }

        .sc-form-textarea {
          width: 24rem;
          resize: none;
          height: 6rem;
          padding: 10px 5px;
        }

        .buttons-container {
          margin-top: 2rem;
          width: 24rem;
          height: auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .sc-form-close {
            height: 45px;
            width: 45px;
            padding: 10px;
            cursor: pointer;
            border-radius: 100%;
            border: 3px solid $white;
            position: relative;
            background: $primary;
            transition: all 0.3s;

            &:before {
              content: '';
              width: 80%;
              height: 3px;
              background: $white;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%) rotate(45deg);
            }

            &:after {
              content: '';
              width: 80%;
              height: 3px;
              background: $white;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%) rotate(-45deg);
            }

            &:hover {
              border-color: $primary;
              background: $secondary;

              &:after {
                background: $primary;
              }

              &:before {
                background: $primary;
              }
            }
          }

          .sc-form-button {
            text-align: center;
            height: 3.5rem;
            width: 16rem;
            background: $secondary;
            color: $primary;
            border: 1px solid $primary;
            font-weight: bold;
            font-family: $oswald;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              background: $primary;
              color: $white;
              border-color: $secondary;
            }
          }
        }
      }
    }
  }
}

#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

#slideContainer {
  width: 400%; /* to contain 4 panels, each with 100% of window width */
  height: 100%;
}

.panel {
  height: 100%;
  width: 25%; /* relative to parent -> 25% of 400% = 100% of window width */
  float: left;
}



