.user-home-page {

  .section-1 {

    .row {
      height: 100%;
    }

    .s1-header-container {
      padding: 2rem 12rem;
      background: $white;
      margin-top: 130px;

      @media only screen and (min-width: 1200px) {
        padding: 2rem 20px;
      }
      .s1-title {
        margin-bottom: 0;
      }
    }
    .match-container {
      background: $white;
      height: auto;
      margin-bottom: 2rem;
      max-width: 100%;

      .left-match-container {
        height: 5rem;

        .match-button {
          width: 100%;
          height: 100%;
          background: $secondary;
          color: $primary;
          border: none;
          transition: all 0.3s;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          font-weight: bold;
          border-radius: 5px;
          padding: 1.5rem 1rem;
          cursor: pointer;

          .match-details-title {
            margin: 0;
          }

          &:hover {
            background: $primary;
            color: $white;
          }
        }
      }

      .center-match-container {
        background: $primary;
        height: 5rem;
        display: flex;
        flex-direction: column;
        border-radius: 5px;

        .match-details-upper {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          color: $white;
          position: relative;

          &:after {
            content: '';
            height: 100%;
            width: 3px;
            background: $secondary;
            position: absolute;
            top: 0;
            left: 50%;
            transform:translateX(-50%);
          }

          .team01-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-left: 6rem;
            padding-right: 3rem;
          }

          .team02-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-left: 3rem;
            padding-right: 6rem;
          }
        }
      }

      .right-match-container {
        height: 5rem;

        .match-time-container {
          height: 100%;
          width: 100%;
          background: $secondary;
          color: $primary;
          border-radius: 5px;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-weight: bold;

        }
      }
    }
    .center-kickoff-container {
      background: $primary;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 5px;

      .match-details-upper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $white;
        position: relative;

        &:after {
          content: '';
          height: 100%;
          width: 3px;
          background: $secondary;
          position: absolute;
          top: 0;
          left: 50%;
          transform:translateX(-50%);
        }

        .team01-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-left: 3rem;
          padding-right: 3rem;
        }

        .team02-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-left: 6rem;
          padding-right: 6rem;
        }
      }
    }

    .center-ended-container {
      flex: 1;
      background: $primary;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 5px;

      .match-details-upper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $white;
        position: relative;

        &:after {
          content: '';
          height: 100%;
          width: 3px;
          background: $secondary;
          position: absolute;
          top: 0;
          left: 50%;
          transform:translateX(-50%);
        }

        .team01-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-left: 6rem;
          padding-right: 6rem;
        }

        .team02-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-left: 3rem;
          padding-right: 3rem;
        }
      }
    }
  }

  .section-2 {
    padding: 6rem 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $primary;

    .s2-title {
      margin-bottom: 2rem;
      color: $white;
    }

    .betting-history-container {
      width: 100%;
      height: 14rem;
      font-family: $oswald;

      .betting-history {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 2rem;
        background: $white;
        border: 3px solid $secondary;
        border-radius: 5px;

        .bet {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          color: $primary;
        }
      }
    }
  }

  .section-contact {
    padding: 6rem 12rem;
    background: white;
    color: $primary;
    position: relative;

    .sc-content-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .sc-title {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 42px;
      }

      .sc-text {
        text-align: center;
      }

      .sc-button {
        text-align: center;
        height: 3.5rem;
        width: 16rem;
        background: $primary;
        border: 1px solid $secondary;
        color: white;
        font-weight: bold;
        font-family: $oswald;
        margin-top: 2rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background: $secondary;
          color: $primary;
          border-color: $primary;
        }
      }
    }

    .sc-form-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      opacity: 0;
      visibility: hidden;
      padding: 0 12rem;
      background: $primary;
      color: white;
      transition: all 0.5s;
      justify-content: center;
      align-items: center;

      .sc-form {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-left: 2rem;
        padding-right: 2rem;

        .sc-input-container {
          margin-bottom: 2rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .sc-form-text {
            width: 24rem;
            height: 2.5rem;
            margin-bottom: 1rem;
            padding: 10px 5px;
          }
        }

        .sc-form-textarea {
          width: 24rem;
          resize: none;
          height: 6rem;
          padding: 10px 5px;
        }

        .buttons-container {
          margin-top: 2rem;
          width: 24rem;
          height: auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .sc-form-close {
            height: 45px;
            width: 45px;
            padding: 10px;
            cursor: pointer;
            border-radius: 100%;
            border: 3px solid $white;
            position: relative;
            background: $primary;
            transition: all 0.3s;

            &:before {
              content: '';
              width: 80%;
              height: 3px;
              background: $white;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%) rotate(45deg);
            }

            &:after {
              content: '';
              width: 80%;
              height: 3px;
              background: $white;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%) rotate(-45deg);
            }

            &:hover {
              border-color: $primary;
              background: $secondary;

              &:after {
                background: $primary;
              }

              &:before {
                background: $primary;
              }
            }
          }

          .sc-form-button {
            text-align: center;
            height: 3.5rem;
            width: 16rem;
            background: $secondary;
            color: $primary;
            border: 1px solid $primary;
            font-weight: bold;
            font-family: $oswald;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              background: $primary;
              color: white;
              border-color: $secondary;
            }
          }
        }
      }
    }
  }
}
