.user-home {
  .section-1 {
    padding: 2rem 12rem;
    background: $dark-gray;
    color: white;
    margin-top: 130px;

    .s1-header {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      background: transparent;

      .s1-header-button {
        text-align: center;
        height: 4rem;
        width: 16rem;
        background: $dark-gray;
        border: 1px solid $secondary;
        color: white;
        font-weight: bold;
        font-family: $oswald;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background: $secondary;
          color: $dark-gray;
          border-color: $dark-gray;
        }
      }
    }
  }

  .section-2 {
    padding: 2rem 12rem;

    .s2-matches-container {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;

      .match-container {
        width: 100%;
        background: $dark-gray;
        color: $secondary;
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: relative;

        &:after {
          content: '';
          height: 100%;
          width: 3px;
          background: $secondary;
          position: absolute;
          left: 66.66666%;
          top: 0;
          transform: translateX(-50%);
        }

        .team-one-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-left: 2rem;
          padding-right: 1rem;
        }

        .team-two-container {
          display: flex;
          flex-direction: row;
          padding-left: 1rem;
          padding-right: 2rem;
          justify-content: space-between;
          border-left: 1px solid $secondary;
        }

        .bet-details-container {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          padding-right: 2rem;


          .bet-title {
            margin: 0;
            font-size: 18px;
          }

          .bets-container {
            height: 100%;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            .bet {
              font-weight: bold;

              &:won {
                color: greenyellow;
              }

              &:lost {
                color: red;
              }
            }
          }
        }
      }
    }
  }

  .section-contact {
    padding: 6rem 12rem;
    background: white;
    color: $dark-gray;
    position: relative;

    .sc-content-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .sc-title {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 42px;
      }

      .sc-text {
        text-align: center;
      }

      .sc-button {
        text-align: center;
        height: 4rem;
        width: 16rem;
        background: $dark-gray;
        border: 1px solid $secondary;
        color: white;
        font-weight: bold;
        font-family: $oswald;
        margin-top: 2rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          background: $secondary;
          color: $dark-gray;
          border-color: $dark-gray;
        }
      }
    }

    .sc-form-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      opacity: 0;
      visibility: hidden;
      padding: 0 12rem;
      background: $dark-gray;
      color: white;
      transition: all 0.5s;
      justify-content: center;
      align-items: center;

      .sc-form {
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-left: 2rem;
        padding-right: 2rem;

        .sc-input-container {
          margin-bottom: 2rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .sc-form-text {
            width: 24rem;
            height: 2.5rem;
            margin-bottom: 1rem;
            padding: 10px 5px;
          }
        }

        .sc-form-textarea {
          width: 24rem;
          resize: none;
          height: 6rem;
          padding: 10px 5px;
        }

        .buttons-container {
          margin-top: 2rem;
          width: 24rem;
          height: auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          .sc-form-close {
            cursor: pointer;
            padding: 10px;
            border: 2px solid white;
            border-radius: 100%;
            font-weight: bold;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $dark-gray;
            transition: all 0.3s;

            &:hover {
              color: $dark-gray;
              border-color: $dark-gray;
              background: $secondary;
            }
          }

          .sc-form-button {
            text-align: center;
            height: 4rem;
            width: 16rem;
            background: $secondary;
            color: $dark-gray;
            border: 1px solid $dark-gray;
            font-weight: bold;
            font-family: $oswald;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              background: $dark-gray;
              color: white;
              border-color: $secondary;
            }
          }
        }
      }
    }
  }
}