.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2000;

  .loading-box {
    background-image: url("../../images/toptip-logo.svg");
    width: 20rem;
    height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

input {
  border-radius: 5px;
  border: 1px solid $primary;
}

button {
  border-radius: 5px;
}

input::-webkit-input-placeholder {
  font-family: $oswald;
  color: $primary-transparent;
}

input:-ms-input-placeholder {
  font-family: $oswald;
  color: $primary-transparent;
}

input:-moz-placeholder {
  font-family: $oswald;
  color: $primary-transparent;
}

input::-moz-placeholder {
  font-family: $oswald;
  color: $primary-transparent;
}

textarea::-webkit-input-placeholder {
  font-family: $oswald;
  color: $primary-transparent;
}

textarea:-ms-input-placeholder {
  font-family: $oswald;
  color: $primary-transparent;
}

textarea:-moz-placeholder {
  font-family: $oswald;
  color: $primary-transparent;
}

textarea::-moz-placeholder {
  font-family: $oswald;
  color: $primary-transparent;
}




* {
	&:focus {
		outline: none!important;
	}
}

svg {
	display: block;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

html {
	position: relative;
	min-height: 100%;
	font-size: inherit;
    scroll-behavior: smooth;
}

body {
	font-family: $nunito;
	line-height: 1.25;
	letter-spacing: 0.7px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-feature-settings: "kern" 1;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
}
